#### Python Data Structures

In [1]:
# Structures that can hold some data together ie. collection of related data.
# We can organize, modify, store and access data.
# We can also perform functions on them.
# Built-in Data Structures: LISTS, TUPLE, DICTIONARY, SETS.

### LIST

In [2]:
# Ordered sequence of elements in a square bracket seperated by commas.
# It is mutable in nature. Allows duplicate items as well.
# Can contain different datatypes as well.

In [3]:
# Creating a list
ages= [22,44,32,45,22,56,75,22,44,32,65,22,55,22,22]
lang= ['Hindi', 'English', 'Urdu', 'Spanish']
list_1= ['A',True,6.5,3]

In [4]:
# Functions that can be performed on a list.

In [5]:
ages.append(43)
ages

[22, 44, 32, 45, 22, 56, 75, 22, 44, 32, 65, 22, 55, 22, 22, 43]

In [6]:
ages.extend([33,22,43,54,12,38])
ages

[22,
 44,
 32,
 45,
 22,
 56,
 75,
 22,
 44,
 32,
 65,
 22,
 55,
 22,
 22,
 43,
 33,
 22,
 43,
 54,
 12,
 38]

In [7]:
ages.count(22)

7

In [8]:
ages.index(22)

0

In [9]:
ages.insert(3,331)
ages

[22,
 44,
 32,
 331,
 45,
 22,
 56,
 75,
 22,
 44,
 32,
 65,
 22,
 55,
 22,
 22,
 43,
 33,
 22,
 43,
 54,
 12,
 38]

In [10]:
ages.pop(3)

331

In [11]:
ages.pop(3)

45

In [12]:
ages

[22,
 44,
 32,
 22,
 56,
 75,
 22,
 44,
 32,
 65,
 22,
 55,
 22,
 22,
 43,
 33,
 22,
 43,
 54,
 12,
 38]

In [13]:
ages.remove(65)
ages

[22,
 44,
 32,
 22,
 56,
 75,
 22,
 44,
 32,
 22,
 55,
 22,
 22,
 43,
 33,
 22,
 43,
 54,
 12,
 38]

In [14]:
ages.sort()
ages

[12,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 32,
 32,
 33,
 38,
 43,
 43,
 44,
 44,
 54,
 55,
 56,
 75]

In [15]:
ages[1]

22

In [16]:
ages[1:8]

[22, 22, 22, 22, 22, 22, 22]

In [17]:
ages.reverse()
ages

[75,
 56,
 55,
 54,
 44,
 44,
 43,
 43,
 38,
 33,
 32,
 32,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 12]

In [18]:
ages.reverse()

In [19]:
ages

[12,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 32,
 32,
 33,
 38,
 43,
 43,
 44,
 44,
 54,
 55,
 56,
 75]

In [20]:
lang

['Hindi', 'English', 'Urdu', 'Spanish']

In [21]:
lang[0]= 'Turkish'

In [22]:
print(lang)

['Turkish', 'English', 'Urdu', 'Spanish']

In [23]:
sorted(ages,reverse=True)

[75,
 56,
 55,
 54,
 44,
 44,
 43,
 43,
 38,
 33,
 32,
 32,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 12]

In [24]:
for x in lang:
    print(x)

Turkish
English
Urdu
Spanish

In [25]:
x= list(range(10))

In [26]:
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### List Comprehensions

In [27]:
# List comprehensions are used to create a new list from other iterables.
# As list comprehensions return the list, they consists of bracket containing
# the expression, which is executed for each element along with the for loop
# to iterate over each element.

In [28]:
numbers= [1,2,3,4]
squares= []

for n in numbers:
    squares.append(n**2)
print(squares)

[1, 4, 9, 16]

In [29]:
numbers= [1,2,3,4]

squares= [n**2 for n in numbers]
print(squares)

[1, 4, 9, 16]

In [30]:
list_1= [1,3,4,5,6]
list_2= [2,4,6,8,9]

common_num= []

for a in list_1:
     for b in list_2:
            if a==b:
                common_num.append(a)
print(common_num)

[4, 6]

In [31]:
list_1= [1,3,4,5,6]
list_2= [2,4,6,8,9]

common_num= [a for a in list_1 for b in list_2 if a==b]
print(common_num)

[4, 6]

In [32]:
list_a= [1,2,3]
list_b= [2,7]

different_num= [(a,b) for a in list_a for b in list_b if a!=b]
print(different_num)

[(1, 2), (1, 7), (2, 7), (3, 2), (3, 7)]

In [33]:
list_str= ['My', 'Name', 'Is', 'Harshal']

str_lower= [str.lower() for str in list_str]
print(str_lower)

['my', 'name', 'is', 'harshal']

In [34]:
nums= [1,2,3,4,5]

square_cube= [(n**2,n**3) for n in nums]
print(square_cube)

[(1, 1), (4, 8), (9, 27), (16, 64), (25, 125)]

In [35]:
a= ['apple', 'orange', 'orange', 'grape', 'apple']

count_1= [i for i in a if i=='orange']
print(count_1)

['orange', 'orange']

In [36]:
len(list((filter(lambda x: x=='orange',a))))

2

In [37]:
a.count('orange')

2

In [38]:
# Using counter library, we can retrieve the occurrences of each element.
# Elements with keys and their count in values.

In [39]:
from collections import Counter

In [40]:
Counter(a)

Counter({'apple': 2, 'orange': 2, 'grape': 1})

In [41]:
# Zip Operator:
# The zip operator returns an iterator of tuples by combining elements at the
# same index together from each list
# list(zip(a,b))

In [42]:
country= ['India', 'USA', 'China']
capital= ['New Delhi', 'Washington DC', 'Beijing']
names= zip(country,capital)

for name in names:
    print(name)

('India', 'New Delhi')
('USA', 'Washington DC')
('China', 'Beijing')

In [43]:
import itertools

In [44]:
print(list(itertools.permutations([1,2,3])))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [45]:
a= [1,2,3,4]
print(list(itertools.combinations(a, r=2)))

[(1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 4)]

In [46]:
# Randomize the elements

In [47]:
import random

In [48]:
a= list(range(10))

In [49]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
random.shuffle(a)

In [51]:
a

[8, 0, 1, 7, 2, 9, 5, 3, 4, 6]

In [52]:
tickets= [201,202,204,207,210]
random.choice(tickets)

210

### TUPLE

In [53]:
# A tuple is an immutable list, once it is defined it can't be changed.
# Created using comma seperated values between paranthesis.

In [1]:
# Creating a Tuple
tuple_1= ('Sunday', 'Monday', 'Tuesday', 'Wedensday', 'Thursday', 'Friday', 
          'Saturday')

In [2]:
tuple_1

('Sunday', 'Monday', 'Tuesday', 'Wedensday', 'Thursday', 'Friday', 'Saturday')

In [3]:
tuple_2= (1, 2.4, 'Hi', True)

In [4]:
tuple_2

(1, 2.4, 'Hi', True)

In [5]:
tuple_3= ('HI', 2, [44, 'Hello', True])

In [6]:
tuple_3

('HI', 2, [44, 'Hello', True])

In [7]:
# Nested Tuple
tuple_4= ((32,True), (5.3, 'Harshal'))

In [8]:
tuple_4

((32, True), (5.3, 'Harshal'))

In [9]:
# Empty Tuple
tuple_5= ()

In [10]:
tuple_5

()

In [11]:
tuple_6= ('Hey',)

In [12]:
tuple_6

('Hey',)

In [13]:
# Accessing Tuple
tuple_1[1]

'Monday'

In [14]:
tuple_2[-1]

True

In [15]:
# Not possible to delete an element in tuple. But can delete entire tuple.
tuple_4

((32, True), (5.3, 'Harshal'))

In [16]:
del tuple_4[0]

TypeError: 'tuple' object doesn't support item deletion

In [17]:
del tuple_4

In [18]:
for x in tuple_1:
    print(x)

Sunday
Monday
Tuesday
Wedensday
Thursday
Friday
Saturday

In [19]:
tuple_1.index('Friday')

5

In [20]:
tuple_7= (22,34,33,22,11,25,22,65,57,33,22)

In [21]:
tuple_7.count(22)

4

In [22]:
print("No of days in a week is", len(tuple_1))

No of days in a week is 7

### Dictionaries

In [ ]:
# Key-value pair enclosed within curly brackets.
# Python allows us to connect to pieces of related information through DICT.
# Each key is seperated from its value from (:), Key has to be string values.
# Each value can be accessed through key.Key can't be duplicates but valus can.
# Unordered and changeable.

In [ ]:
# Creating Dictionary

dict_1= {'cust_name': 'Harshal', 'Age': 22, 'Region': 'APAC' }

In [ ]:
# Access values by specifying Key

dict_1['cust_name']

In [ ]:
# Adding new value 

dict_1['Product']= 'Sony Headphones'

In [ ]:
dict_1

In [ ]:
# Dictionary with multiple values

studs= {'stu_id': [1,2,3,4,5],
       'name': ['A', 'B', 'C', 'D', 'E'],
       'course': ['Python', 'R', 'SQL', 'Java', 'AWS']}

In [ ]:
studs

In [ ]:
studs['stu_id'][0]= 10

In [ ]:
studs

In [ ]:
import pandas as pd

In [ ]:
pd.DataFrame(studs)

In [ ]:
# Renaming key 

dict_1['Continent']= dict_1.pop('Region')

In [ ]:
dict_1

In [ ]:
dict_1.keys()

In [ ]:
dict_1.values()

In [ ]:
dict_1.get('cust_name')

In [ ]:
# Looping through keys, values and items

In [ ]:
dict_1

In [ ]:
for x in dict_1.keys():
    print(x)

In [ ]:
for y in dict_1.values():
    print(y)

In [ ]:
dict_2= {'cust_name': 'Harshal', 'Age': 'Twenty two' , 'Region': 'APAC' }

In [ ]:
for x,y in dict_2.items():
    print(x + ": " + y)

### Sets

In [ ]:
# Unordered collection of items enclosed within curly brackets. 
# Each element is unique.
# Doesn't have indexes and duplicates as well.

In [4]:
my_set= {1,1,1,2,3,3,2,3,4,5,5,6,6,2,2,3,3}

In [5]:
my_set

{1, 2, 3, 4, 5, 6}

In [6]:
my_set.add(7)
my_set

{1, 2, 3, 4, 5, 6, 7}

In [7]:
set_1= {1,2,3,4}
set_2= {3,4,5,6}

In [8]:
set_1.issubset(set_2)

False

In [9]:
set_1.union(set_2)

{1, 2, 3, 4, 5, 6}

In [10]:
set_1.intersection(set_2)

{3, 4}

In [11]:
set_1.symmetric_difference(set_2)

{1, 2, 5, 6}

In [12]:
set_1.issuperset(set_2)

False

In [13]:
# Add multiple items in a set using update() method
set_3= {'Kiwi', 'Orange', 'Mango'}
set_3

{'Kiwi', 'Mango', 'Orange'}

In [14]:
set_3.update(['Apple', 'Melon', 'Cherry'])

In [15]:
set_3

{'Apple', 'Cherry', 'Kiwi', 'Mango', 'Melon', 'Orange'}

In [16]:
len(set_3)

6

In [17]:
set_3.remove('Cherry')

In [18]:
set_3

{'Apple', 'Kiwi', 'Mango', 'Melon', 'Orange'}

In [19]:
set_3.discard('Apple')

In [20]:
set_3

{'Kiwi', 'Mango', 'Melon', 'Orange'}

### Control Flow Statements

In [79]:
# Control Flow: It allows us to use logic to execute code only when 
# we want to when a particular condition has been met.
# Control flow syntax make use of colons and indentation(whitespace)
# Anything along the indentation is going to be executed if that condition 
# happens to be true.

In [72]:
hungry= False

if hungry:
    print("FEED ME!")
else:
    print("I'M NOT HUNGRY")

I'M NOT HUNGRY

In [76]:
loc = 'Game'

if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Store':
    print("Welcome to the store")
elif loc == 'Bank':
    print("Money is cool!")
else:
    print("I do not know much")

I do not know much

In [78]:
name = 'Nidhi'

if name == 'Harshal':
    print("Hello Harshal!")
elif name == 'Frankie':
    print("Hello Frankie!")
else:
    print("What is your name?")

What is your name?

### For Loops

In [80]:
mylist= [1,2,3,4,5,6,7,8,9,10]

In [81]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [83]:
for num in mylist:
    # Check for even number
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [84]:
sum_list = 0

for num in mylist:
    sum_list = sum_list + num
    
print(sum_list)

55

In [85]:
mystring = 'Hello World'

for string in mystring:
    print(string)

H
e
l
l
o

W
o
r
l
d

### While Loops

In [86]:
# While loop will continue to execute a block of code while some condition
# remains true. Example, while my pool is not full, keep filling my pool with
# water. While my dogs are hungry, keep feeding them with food.

In [88]:
# Syntax
# while some_boolean_condition:
         # do_something
# else:
         # do_something_different

In [89]:
x = 0

while x<5:
    print(f'The current value of x is {x}')
    x = x + 1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

### Break, Continue and Pass

In [91]:
# We can use break, continue and pass statements in our loops to add additional
# functionality for various cases.

# Break: Breaks out of the current closest enclosing loop.
# Continue: Goes to the top of the closest enclosing loop.
# Pass: Does nothing at all. Also to avoid Syntax error.

In [94]:
x = [1,2,3]

for item in x:
    # Comment
    pass
    
print('End of my Script')

End of my Script

In [98]:
my_string= 'Harshal'

for letter in my_string:
    if letter == 'a':
        break
    print(letter)

H

### Useful Operators in Python

#### Range Operator

In [106]:
# For iteration

for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [107]:
# Generating numbers by casting

list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

#### Eneumerate Operator

In [108]:
# It returns back some sort of index counter and then the object itself or the
# elements at the particular operation.

In [110]:
word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

#### Zip Operator

In [116]:
# It basically zips two or more lists. It will zip together what is shortest.

In [117]:
list_a = [1,2,3,4,5,6,7,8]
list_b= ['a','b','c','d']

In [118]:
for item in zip(list_a,list_b):
    print(item)
    
# Result in tuple packing. We can unpack it as well.

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')

#### In Operator

In [119]:
2 in [1,2,3]

True

In [120]:
'a' in 'a world'

True

In [121]:
'mykey' in {'mykey': 55}

True

In [124]:
d= {'mykey': 55}

55 in d.values()

True

#### Random Library

In [126]:
from random import shuffle

# Shuffle function randomly shuffle out any sort of list.

In [127]:
m_list= [1,2,3,4,5,6,7,8,9,10]

In [131]:
shuffle(m_list)

In [132]:
m_list

[3, 5, 9, 2, 1, 7, 4, 8, 10, 6]

In [135]:
from random import randint

# randint allows us to generate random integer.

In [138]:
my_num = randint(0,100)

In [139]:
my_num

62

In [143]:
# Input Function
# To ask the user for input
# Input always accepts anything that passed into it as a string.

In [146]:
result = input('Enter a Number')

Enter a Number30

In [147]:
result

'30'

In [148]:
type(result)

str

In [149]:
int(result)

30

### List Comprehensions

In [150]:
# List Comprehensions are a unique way of quickly creating a list with Python.
# If you found using a for loop along with .append() to create a list, List
# comprehensions are a good alternative!

In [151]:
mystring = 'Harshal'

In [152]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [153]:
mylist

['H', 'a', 'r', 's', 'h', 'a', 'l']

In [154]:
mylist = [letter for letter in mystring]

In [155]:
mylist

['H', 'a', 'r', 's', 'h', 'a', 'l']

In [158]:
mylist = [num**2 for num in range(0,11,2)]

In [159]:
mylist

[0, 4, 16, 36, 64, 100]

In [160]:
mylist = [x for x in range(0,21) if x % 2 == 0]

In [161]:
mylist

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [162]:
celcius= [0,10,20,45.4,32.5]
fahrenheit= [( (9/5)*temp +32 ) for temp in celcius]

In [163]:
fahrenheit

[32.0, 50.0, 68.0, 113.72, 90.5]

In [165]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append((9/5)*temp +32 )

In [166]:
fahrenheit

[32.0, 50.0, 68.0, 113.72, 90.5]

In [168]:
results = [x if x%2 == 0 else 'ODD' for x in range(0,11)]

In [169]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [171]:
mylist = []

for x in [2,3,4]:
    for y in [1,10,1000]:
        mylist.append(x*y)

In [172]:
mylist

[2, 20, 2000, 3, 30, 3000, 4, 40, 4000]

In [173]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [174]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]